{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>NFX! | </title>

    {% include 'css.html' %}
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        {% include 'sidebar.html' %}

        <!-- top navigation -->
        {% include 'nav.html' %}
        <!-- /top navigation -->

        <!-- page content -->
        {% block content %}
        {% endblock %}
        
        {% include 'footer.html' %}
        <!-- /footer content -->
      </div>
    </div>
  </body>
  {% include 'javascript.html' %}
</html>
