.input-group {
	table-layout: fixed;
}

.input-group label {
	width: 70%;
}

.input-group.small label {
	width: 55%;
}

.input-group.decline-rate-css label {
	width: 63%;
}

table td {
	text-align: center;
}
table th {
	text-align: center;
}

[contenteditable]:empty:before{
  content: attr(placeholder);
  display: block;
  color: #afafac;
  cursor: text;
}

h2 {
  text-align: center;
}

.p {
  text-align: center;
  padding-top: 130px;
}

label input[type="checkbox"] ~ i.fa.fa-square-o{
    color: #c8c8c8;    display: inline;
}
label input[type="checkbox"] ~ i.fa.fa-check-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
    color: #7AA3CC;    display: inline;
}
label:hover input[type="checkbox"] ~ i.fa {
    color: #7AA3CC;
}

div[data-toggle="buttons"] label.active{
    color: #7AA3CC;
}

div[data-toggle="buttons"] label {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 2em;
  text-align: left;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  background-color: none;
  border: 0px solid #c8c8c8;
  border-radius: 3px;
  color: #c8c8c8;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

div[data-toggle="buttons"] label:hover {
  color: #7AA3CC;
}

div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

div #add-play .modal-lg {
  width: 99%
}

div #add-play-unconventional-input {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 7px;
}

div #add-play-conventional-input {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 7px;
}

.reserve-potential-inputs{
  width: 50px;
  border: 2px dashed lightgreen;
  border-radius: 4px;
}

.modal-body {
  min-height: 400px;
}
.modal-content {
  min-height: 500px;
}

.total-variables{
  width: 50px;
  border: 2px dashed lightgreen;
  border-radius: 4px;
}