.input-group {
	table-layout: fixed;
}

.input-group label {
	width: 70%;
}

.input-group.small label {
	width: 55%;
}

.input-group.decline-rate-css label {
	width: 63%;
}

table td {
	text-align: center;
}
table th {
	text-align: center;
}

[contenteditable]:empty:before{
  content: attr(placeholder);
  display: block;
  color: #afafac;
  cursor: text;
}

h2 {
  text-align: center;
}

.p {
  text-align: center;
  padding-top: 130px;
}