{% extends 'base.html' %}
{% load staticfiles %}

{% load app_filters %}
{% block content %}
<div class="right_col" role="main">
  <!-- top tiles -->
  <div class="docs-data" class="col-sm-12">
    <div class="col-sm-4 col-md-4 col-lg-4">
      <table class="table x_content">
        <thead>
          <tr>
            <th></th>
            <th>2017</th>
            <th>2018</th>
            <th>2019</th>
            <th>2020</th>
            <th>2021</th>
            <th>Escalation</th>
          </tr>
        </thead>
        <tbody id="price">
          {% for product in products %}
            <tr>
              <td><div contenteditable>{{ product.name }}</div></td>
              {% for price in prices %}
                {% if product.id == price.prod_id %}
                  <td><div contenteditable>$ {{ price.price }}</div></td>
                {% endif %}
              {% endfor %}
              <td><div contenteditable>{{ ticker.op_cost_esc }} %</div></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-sm-2 col-sm-offset-6 col-md-2 col-lg-2">
      <table class="table x_content">
        <thead>
          <tr>
            <th></th>
            <th>Results</th>
          </tr>
        <tbody>
          <tr>
            <td>IRR</td>
            <td id="irr">$</td>
          </tr>
          <tr>
            <td>PV10 ($mm)</td>
            <td id="pv10">$</td>
          </tr>
          <tr>
            <td>PV/EUR ($/boe)</td>
            <td id="pv_eur">$</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-4">
        <table class="table x_content">
          <thead>
            <th>Play Production</th>
            <th>( $ )</th>
            <th>Diff( % )</th>
          </thead>
          <tbody>
            {% for play_prod in play_prods %}
              <tr>
                <td>{{ play_prod.shortcut_name }} Price Differential ( {{play_prod.unit}} )</td>
                {% for individual in prod_price_diffs %}
                  {% if individual.prod_id == play_prod.id %}
                    <td>{{ individual.diff }}</td>
                  {% endif %}
                {% endfor %}
                <td><div contenteditable data-id="{{play_prod.id}}" class="play-prod-diff" placeholder='%'>{{ play_prod.diff }}</div></td>
              </tr>
              <tr>
                <td>{{ play_prod.name }} Price</td>
                {% for individual in prod_price_diffs %}
                  {% if individual.prod_id == play_prod.id %}
                    <td>{{ individual.price }}</td>
                  {% endif %}
                {% endfor %}
                <td></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% for play_prod_date_choice in play_prod_date_choices %}  
      <div class="col-sm-3">
        <table class="table x_content">
          <thead>
            <th></th>
            <th>( $ )</th>
            <th>% {{ play_prod_date_choice.prod.shortcut_name }}</th>
            <th>% Decline</th>
          </thead>
          <tbody>
            <tr>
              <td>IP30_{{ play_prod_date_choice.prod.shortcut_name }}</td>
              {% for eachVal in prods_date %}
                {% if play_prod_date_choice.prod_id == eachVal.prod_id %}
                  <td>{{ eachVal.ip30|customRound }}</td>
                {% endif %}
              {% endfor %}
              <td><div contenteditable placeholder="%">{{ play_prod_date_choice.ip30 }}</div></td>
            </tr>
            <tr>
              <td>12M_{{ play_prod_date_choice.prod.shortcut_name }}</td>
              {% for eachVal in prods_date %}
                {% if play_prod_date_choice.prod_id == eachVal.prod_id %}
                  <td>{{ eachVal.12m|customRound }}</td>
                {% endif %}
              {% endfor %}
              <td><div contenteditable placeholder="%">{{ play_prod_date_choice.m12 }}</div></td>
              <td><div contenteditable placeholder="%">{{ play_prod_date_choice.m12_decline }}</div></td>
            </tr>
            <tr>
              <td>24M_{{ play_prod_date_choice.prod.shortcut_name }}</td>
              {% for eachVal in prods_date %}
                {% if play_prod_date_choice.prod_id == eachVal.prod_id %}
                  <td>{{ eachVal.24m|customRound }}</td>
                {% endif %}
              {% endfor %}
              <td><div contenteditable placeholder="%">{{ play_prod_date_choice.m24 }}</div></td>
              <td><div contenteditable placeholder="%">{{ play_prod_date_choice.m24_decline }}</div></td>
            </tr>
            <tr>
              <td>EUR_{{ play_prod_date_choice.prod.shortcut_name }}</td>
              {% for eachVal in prods_date %}
                {% if play_prod_date_choice.prod_id == eachVal.prod_id %}
                  <td>{{ eachVal.eur|customRound }}</td>
                {% endif %}
              {% endfor %}
              <td>{{ play_prod_date_choice.eur_unit }}</td>
            </tr>
            <tr>
              <td>Decline_{{ play_prod_date_choice.prod.shortcut_name }}</td>
              <td class="decline-value" data-id="{{play_prod_date_choice.prod_id}}">%</td>
            </tr>
          </tbody>
        </table>
      </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-sm-3">
        {% for every_input in play_common_input_class %}
          {% if forloop.counter < 4 %}
            <div class="input-group input-group-sm">
              <label class="input-group-addon">{{ every_input.name }} ({{every_input.unit}})</label>
              <input type="text" class="form-control common-input" data-id="{{every_input.id}}" value="{{every_input.value}}">
            </div>
          {% endif %}
        {% endfor %}        
      </div>
      <div class="col-sm-3">
        {% for every_input in play_common_input_class %}
          {% if forloop.counter > 3 %}
            <div class="input-group input-group-sm">
              <label class="input-group-addon">{{ every_input.name }} ({{every_input.unit}})</label>
              <input type="text" class="form-control common-input" data-id="{{every_input.id}}" value="{{ every_input.value }}">
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div class="col-sm-3">
        {% for every_input in play_scraped_data %}
          <div class="input-group input-group-sm">
            <label class="input-group-addon">{{ every_input.name }} ({{every_input.unit}})</label>
            <input type="text" class="form-control" disabled value="{{ every_input.value }}">
          </div>
        {% endfor %}
      </div>
      <div class="col-sm-3">
        <div class="input-group input-group-sm">
          <label class="input-group-addon">Drilling_F&D</label>
          <input type="text" class="form-control" disabled value="{{drilling_f_d|customRound}}">
        </div>
        <div class="input-group input-group-sm">
          <label class="input-group-addon">Total F&D</label>
          <input type="text" class="form-control" disabled value="{{total_f_d|customRound}}">
        </div>
      </div>
    </div>
  <br />

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_content">
        <div class="x_content">
          <div class="col-sm-4">
            <div class="col-sm-4">
              <input type="text" class="form-control" placeholder="Year Range" id="type_curve_year">
            </div>
            <div class="col-sm-4">
              <button class="btn btn-success" id="typeCurveAjax">View</button>
              {% csrf_token %}
            </div>
          </div>
        </div>
        <div class="x_content">
          <table class="table table-striped table-bordered" cellspacing="0" width="100%" id="typeCurve-datatable">
            <thead> 
              <tr>
                <th>Year</th>
                {% for product in play_prods %}
                  <th scope="col">{{ product.shortcut_name }}</th>
                {% endfor  %}
                <th scope="col">Total</th>
                {% for product in play_prods %}
                  <th scope="col">{{ product.shortcut_name }}</th>
                {% endfor  %}
                <th scope="col">Total</th>
                <th scope="col">Royalty</th>
                <th scope="col">Lifting</th>
                <th scope="col">Revenue</th>
                <th scope="col">Royalty</th>
                <th scope="col">Net Price</th>
                <th scope="col">Lifting</th>
                <th scope="col">DD&A</th>
                <th scope="col">Pre-tax Income</th>
                <th scope="col">Tax</th>
                <th scope="col">NI</th>
                <th scope="col">Cashflow</th>
                <th scope="col">PP&E</th>
              </tr>
              <tr>
                <td></td>
                <td>Mbbl</td>
                <td>Bcf</td>
                <td>Mbbl</td>
                <td>Kboe</td>
                <td>$/bbl</td>
                <td>$/Mcf</td>
                <td>$/bbl</td>
                <td>$/boe</td>
                <td>$/boe</td>
                <td>$/boe</td>
                <td>$mm</td>
                <td>$mm</td>
                <td>$mm</td>
                <td>$mm</td>
                <td>$mm</td>
                <td>$mm</td>
                <td>$mm</td>
                <td>$mm</td>
                <td></td>
                <td></td>
              </tr>
            </thead>
            <tfoot>
              {% for product in products %}
                <th></th> 
              {% endfor %}
              <th></th>
              {% for product in products %}
                <th></th>
              {% endfor %}              
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
<!-- /page content -->

<!-- footer content -->
</div>
{% endblock %}