{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>NFX! | </title>

    {% include 'css.html' %}
  </head>

  <body>
    <div>
      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form action="" method="POST">
              <h1>Enter Ticker Name</h1>
              {% if error %}
                <div class="alert alert-danger alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
                    <p>{{error}}</p>
                  </div>
              {% endif %}
              <div>
                <input type="text" class="form-control" placeholder="Ticker Name" required name="ticker" id="name">
              </div>
              {% csrf_token %}
              <input type="submit" name="go" value="View Details" class="btn btn-primary" id="go"> 

              <div class="clearfix"></div>

              <div class="separator">
                <br />

                <div>
                  <h1><i class="fa fa-mortar-board"></i>&nbsp;&nbsp;&nbsp;Ticker&nbsp;!</h1>
                  <p>©2017 All Rights Reserved. Coming soon. Privacy and Terms</p>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </body>
  {% include 'javascript.html' %}
</html>

